@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --main-color: #00243d;
  --secondary-color: #5b752e;
  --hover-color: #c0d798;
  --white: #ffffff;
  --light-grey: #e0e0e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  width: 100%;
  background: var(--main-color);
}

.wrapper {
  width: 1024px;
  background: var(--white);
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}

.wrapper header {
  color: var(--main-color);
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 5px;
  border: 2px dashed var(--main-color);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
}

input::file-selector-button {
  /* font-weight: bold; */
  color: var(--white);
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

.upload-button {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

upload-button:hover {
  /* background-color: var(--hover-color); */
  color: var(--main-color);
}

.all-file {
  margin-bottom: 10px;
  background: var(--hover-color);
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

div li {
  list-style: none;
}

.file_name {
  text-decoration: none;
  font-weight: 500;
  color: var(--main-color);
  margin-left: 5px;
}

.preview-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.preview-heading {
  margin-bottom: 10px;
}
.upload-status {
  margin-top: 20px;
  font-weight: bold;
  color: #4caf50;
}
.error-message {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .wrapper {
    width: 500px;
    padding: 20px;
  }

  .wrapper header {
    font-size: 22px;
  }

  .wrapper form {
    margin: 20px 0;
  }

  .upload-button {
    font-size: 14px;
  }

  .all-file {
    padding: 10px;
  }

  .file_name {
    font-size: 14px;
  }

  .preview-container {
    margin-top: 10px;
    padding: 5px;
  }

  .preview-heading {
    margin-bottom: 5px;
  }

  .upload-status,
  .error-message {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    width: 300px;
    padding: 20px;
  }
  .wrapper header {
    font-size: 22px;
  }
  .wrapper form {
    margin: 20px 0;
  }
  .upload-button {
    font-size: 14px;
  }
  .all-file {
    padding: 10px;
  }
  .file_name {
    font-size: 14px;
  }
  .preview-container {
    margin-top: 10px;
    padding: 5px;
  }
  .preview-heading {
    margin-bottom: 5px;
  }
  .upload-status,
  .error-message {
    margin-top: 10px;
    font-size: 14px;
  }
}
